/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07 de mar de 2021, 12:45:22
    Author     : Victor
*/
nav.navbar {
  padding-left:60px;
  padding-right:60px;
}
div.bg-image {
    width: 100%;
    max-width: 1366px;
}
img#pcdcar{
	width: 826px;
	height: 368px;
	margin-left: 270px;
	margin-top: 25px;
}